{% ckan_extends %}

{% block content_action %}

{{ super() }}

  {% if h.check_access('package_update', {'id':pkg.id }) %}
    {% if h.ckan_version() > '2.9' %}
      {% link_for _('Add new resource'), named_route=c.pkg_dict.type ~ '_resource.new', id=c.pkg_dict.name, class_='btn btn-default', icon='plus' %}
    {% else %}
      {% link_for _('Add New Resource'), controller='package', action='new_resource', id=c.pkg_dict.name, class_='btn btn-default', icon='plus' %}
    {% endif %}
  {% endif %}

{% endblock %}

{% block package_license %}
{% endblock %}