<footer class="site-footer">
    <div class="container">
      {% block footer_content %}
      <div class="blockFooter">
          {% block footer_nav %}
           <div class="bgFooterTop">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <table>
                                        <tr>
                                            <td style="vertical-align:top"><i class="fa fa-map-marker iconFooter" aria-hidden="true"></i></td>
                                            <td style="vertical-align:top">{{ h.render_markdown(g.site_org_address) }}</td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12 mt-1">
                                    <table>
                                        <tr>
                                            <td style="vertical-align:top"><i class="fa fa-phone iconFooter" aria-hidden="true"></i></td>
                                            <td style="vertical-align:top">{{ h.render_markdown(g.site_org_contact) }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 mt-1">
                                    <table>
                                        <tr>
                                            <td style="vertical-align:top"><i class="fa fa-envelope iconFooter" aria-hidden="true"></i></td>
                                            <td style="vertical-align:top">{{ h.render_markdown(g.site_org_email) }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="row">
                                {% block footer_attribution %}
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                                        จำนวนผู้เข้าชม <span class="totalVisitor">{{ h.thai_gdc_get_stat_all_view() }}</span>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12 text-right mt-1">
                                        {{ h.render_markdown(g.site_policy_link) }}
                                    </div>
                                {% endblock %}
                                {% block footer_lang %}
                                    {% snippet "snippets/language_selector.html" %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          {% endblock %}
      </div>
      {% endblock %}
    </div>
  
    {% block footer_debug %}
      {% if g.debug %}
        {% include 'snippets/debug.html' %}
      {% endif %}
    {% endblock %}
  </footer>
  