{% extends "page.html" %}
{% set homepage_style = ( g.homepage_style or '1' ) %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% set site_protocol_and_host = h.get_site_protocol_and_host() %}
{% set search_background_page = h.thai_gdc_get_page('search-background') %}
{% if search_background_page and site_protocol_and_host[0]+'://'+site_protocol_and_host[1] in search_background_page[0].content %}
  {% set list1 = search_background_page[0].content.split(site_protocol_and_host[0]+'://'+site_protocol_and_host[1]) %}
  {% set list2 = list1[1].split('"') %}
  {% set background = list2[0] %}
{% else %}
  {% set background = '/base/images/bg-banner.jpg' %}
{% endif %}

{% block content %}
  <div class="homepage layout-{{ homepage_style }}">
    <div id="content" class="container">
      {{ self.flash() }}
    </div>
    {% block primary_content %}
    <div role="main" class="hero" style="background-image: url('{{ background }}')">
        <div class="container">
          <div class="row row1">
            <div class="col-md-6 col1">
              {% block promoted %}
                {% snippet 'home/snippets/promoted.html' %}
              {% endblock %}
            </div>
            <div class="col-md-6 col2">
              {% block search %}
                {% snippet 'home/snippets/search.html' %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
      <div role="main">
        <div class="container">
          <div class="row row2">
            {% block featured_group %}
              {% set stats = h.get_site_statistics() %}
              {% snippet 'home/snippets/groups.html', stats=stats %}
            {% endblock %}
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}
  