{% import 'macros/form.html' as form %}
<script type="text/javascript">
	function sSelect_data_type(){
		index = document.getElementById('field-data_type').value;
		if(index == 'ข้อมูลประเภทอื่นๆ'){
			document.getElementById('field-data_type_other').style.display='';
            document.getElementById('field-data_type_other').focus();
		} else {
            document.getElementById('field-data_type_other').value='';
            document.getElementById('field-data_type_other').style.display='none';
        }
	}
</script>

{%- set options=[] -%}
{%- set form_restrict_choices_to=field.get('form_restrict_choices_to') -%}
{%- if not h.scheming_field_required(field) or
  field.get('form_include_blank_choice', false) -%}
{%- do options.append({'value': '', 'text': ''}) -%}
{%- endif -%}
{%- for c in h.scheming_field_choices(field) -%}
  {%- if not form_restrict_choices_to or c.value in form_restrict_choices_to -%}
    {%- do options.append({
      'value': c.value|string,
      'text': h.scheming_language_text(c.label) }) -%}
  {%- endif -%}
{%- endfor -%}

{% call form.select(
    field.field_name,
    id='field-' + field.field_name,
    label=h.scheming_language_text(field.label),
    options=options,
    selected=data.get(field.field_name, field.get('default', 'notspecified')),
    error=errors[field.field_name],
    classes=['control-medium select-data_type'],
    is_required=h.scheming_field_required(field),
    attrs = {'class' : "form-control", 'onchange' : "sSelect_data_type();"}
    )
%}
{% endcall %}

{% if request.endpoint == 'dataset.edit' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
.select-data_type {
  margin-bottom: 8px;
}
</style>
<!-- Modal -->
<div class="modal fade" id="dataTypeChangeModal" tabindex="-1" role="dialog" aria-labelledby="dataTypeChangeModalModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dataTypeChangeModalLabel">แก้ไขประเภทชุดข้อมูล</h5>
      </div>
        <div class="modal-body">
          <select id="field-data_type_change" name="data_type_change" class="form-control">
            {% for option in options %}
            {% if option.value == data['data_type'] %}
            <option value="{{ option.value }}" id='option-{{option.value}}' selected="selected">{{ option.value }}</option>
            {% else %}
            <option value="{{ option.value }}" id='option-{{option.value}}'>{{ option.value }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="">{{ _('Cancel')}}</button>
          {% block save_button %}
          <button class="btn btn-primary" type="button" id="save_data_type_change">{% block save_button_text %}{{ _('Save') }}{% endblock %}</button>
          {% endblock %}
        </div>
    </div>
  </div>
</div>
<div style="text-align: right;"><a href="#" style="font-size: smaller;" class="btn btn-primary" data-toggle="modal" data-target="#dataTypeChangeModal">แก้ไขประเภทชุดข้อมูล</a></div>

<script>
  $(document).ready(function(){
    $("#save_data_type_change").click(function(){
      var r = confirm("การแก้ไขนี้จะส่งผลต่อข้อมูลเมตาเฉพาะของประเภทชุดข้อมูลเดิม หลังจากบันทึกแล้วกรุณาตรวจสอบข้อมูลเมตาอีกครั้ง คุณต้องการที่จะบันทึกหรือไม่");
      $(window).off('beforeunload');
      if (r == true) {
        var data_type_change = document.getElementById("field-data_type_change").value;
        window.location.href = "/dataset/edit-datatype/{{ data.name }}?data_type="+data_type_change;
      } else {
        $('#dataTypeChangeModal').modal('hide');
        location.reload();
      } 
    });
    $("#dataTypeChangeModal").on('hide.bs.modal', function(){
      $('#field-data_type_change').val("{{data['data_type']}}");
    });
  });
</script>
{% endif %}
