{% import 'macros/form.html' as form %}
<script type="text/javascript">
	function sSelect_resource_unit_of_multiplier(){
		index = document.getElementById('field-resource_unit_of_multiplier').value;
		if(index == 'อื่นๆ'){
			document.getElementById('field-resource_unit_of_multiplier_other').style.display='';
            document.getElementById('field-resource_unit_of_multiplier_other').focus();
		} else {
            document.getElementById('field-resource_unit_of_multiplier_other').value='';
            document.getElementById('field-resource_unit_of_multiplier_other').style.display='none';
        }
	}
</script>

{%- set options=[] -%}
{%- set form_restrict_choices_to=field.get('form_restrict_choices_to') -%}
{%- if not h.scheming_field_required(field) or
    field.get('form_include_blank_choice', false) -%}
  {%- do options.append({'value': '', 'text': ''}) -%}
{%- endif -%}
{%- for c in h.scheming_field_choices(field) -%}
  {%- if not form_restrict_choices_to or c.value in form_restrict_choices_to -%}
    {%- do options.append({
      'value': c.value|string,
      'text': h.scheming_language_text(c.label) }) -%}
  {%- endif -%}
{%- endfor -%}

{% call form.select(
    field.field_name,
    id='field-' + field.field_name,
    label=h.scheming_language_text(field.label),
    options=options,
    selected=data.get(field.field_name, field.get('default', 'notspecified')),
    error=errors[field.field_name],
    classes=['control-medium'],
    is_required=h.scheming_field_required(field),
    attrs = {'class' : "form-control", 'onchange' : "sSelect_resource_unit_of_multiplier();"}
    )
%}
{% endcall %}


