{% extends "package/snippets/additional_info.html" %}

{%- set exclude_fields = [
    'id',
    'title',
    'name',
    'notes',
    'tag_string',
    'owner_org',
    'reference_url_catalog',
    ] -%}
    
        {% block package_additional_info %}

        {% set catalog_org_type = h.thai_gdc_get_catalog_org_type() %}
        {% if catalog_org_type == 'area_based' %}
        <tr>
          <th scope="row" class="dataset-label">
            {{ _('Reference URL Catalog') }}</th>
          <td class="dataset-details">{{ pkg_dict.reference_url_catalog }}</td>
        </tr>
        {% endif %}

        {%- for field in schema.dataset_fields -%}
        {% set form_data_type = field.form_data_type %}
        {%- if field.field_name not in exclude_fields
            and field.display_snippet is not none -%}
            {% if pkg_dict.data_type in form_data_type %}
          <tr>
            <th scope="row" class="dataset-label">
              {% if field.required %}* {% endif %}
              {{ h.scheming_language_text(field.label) }}</th>
            <td class="dataset-details"{%
              if field.display_property %} property="{{ field.display_property
              }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
              field=field, data=pkg_dict, schema=schema -%}</td>
          </tr>
          {% endif %}
        {%- endif -%}
      {%- endfor -%}
      {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
        <tr>
          <th scope="row" class="dataset-label">{{ _("State") }}</th>
          <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
        </tr>
      {% endif %}
        {% if pkg_dict.metadata_created %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Created") }}</th>
            <td class="dataset-details">
                {{ h.thai_gdc_day_thai(h.date_str_to_datetime(pkg_dict.metadata_created)) }}
            </td>
          </tr>
        {% endif %}
        {% if pkg_dict.metadata_modified %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Last Updated") }}</th>
            <td class="dataset-details">
                {{ h.thai_gdc_day_thai(h.date_str_to_datetime(pkg_dict.metadata_modified)) }}
            </td>
          </tr>
        {% endif %}
        {% endblock %}
 
